html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width:  400px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.active-location {
  background-color: pink;
}

.markers {
  width: 20%;
}