/*** COLORS ***/

:root {
  --white: #fff;
  /* for location-name background */
  --light-blue: #aadaff;
  /*for page title background */
  --blue: #0275d8;
  /* for nav link on hover */

  --dark-blue: #01447e;
  /* for filter options background */
  /*--high-contrast-blue: #005e8f;*/
  /*for backgrounds in */
  /* restaurant-list */
  --light-gray: #f3f3f3;
  /* for map backgorund */
  --gray: #ccc;
  /*for header & footer background*/
  --dark-gray: #252831;
  /* for restuarant hours */
  --soft-gray: #666;
  /*for page title*/
  --orange-on-gray: #f18200;
  /*--orange-on-white: #bb5802;*/
  --red: #f00;
}


/*** GENERAL ***/

img,
embed,
object,
video {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}


.App {
  max-width: 60rem;
  margin: auto;
  font: 400 1rem arial, sans-serif;

}


/*** HEADER ***/

.page-title {
  margin: 0;
  padding: 1.2rem 0 1.2rem 0;
  background-color: var(--dark-gray);
  font: 500 1.1rem arial, sans-serif;
  color: var(--light-blue);
  text-align:center;
  letter-spacing: 0.125rem;
}

.failure {
  color: var(--red);
  padding: 1.2rem 0 1.2rem 0;
  font: 800 1.1rem arial, sans-serif;
  text-align:center;
}


/*** MAIN ***/

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
}


/*** LOCATION SELECTOR ***/

.location-selector {
  margin: 0 auto 0 auto;
  padding: 0.625rem 0 0.625rem 0;
  width: 100%;
  text-align: center;
  font: 400 1.2rem arial, sans-serif;
  border: 0.0625rem solid var(--dark-gray);
  color: var(--white);
  background-color: var(--blue);
}

#chosen-city {
  margin: 0 0 0 0.3125rem;
  font: 400 1.1rem arial, sans-serif;
  border: 0;
  color: var(--dark-blue);
  background-color: var(--light-blue);
  /*padding-left: 0.635rem;*/
}


/*** LOCATION LIST ***/

#location-list {
  margin: 0;
  padding: 0;
}

.location {
  margin: 0.3125rem;
  padding: 0.3125rem;
  list-style: none;
  background-color: var(--light-blue);
}

.active-location {
  color: var(--white);
  background-color: var(--blue);
}


/*** MAP ***/

.map-container {
  width: 100%;
  background-color: var(--soft-gray);
  border: 0.0625rem solid var(--dark-gray);
}

#map {
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width:  400px;
}


/*** MEDIA QUERIES ***/

@media screen and ( min-width: 360px ) {

  .page-title {
    font: 500 1.2rem arial, sans-serif;    
  }

}


@media screen and ( min-width: 420px ) {

  .page-title {
    font: 500 1.3rem arial, sans-serif;    
  }
  
}


@media screen and ( min-width: 600px ) {

  .map-and-location-list-container {
    display: flex;
    flex-direction: row;
  }

  #location-list {
    width: 45%;
  }

  .page-title {
    font: 500 1.5rem arial, sans-serif;    
  }

}