/*** COLORS ***/

:root {
  --white: #fff;
  /* for location-name background */
  --light-blue: #aadaff;
  /*for links*/
  --blue: #0275d8;
  /* for nav link on hover */

  --dark-blue: #01447e;
  /* for filter options background */
  /*--high-contrast-blue: #005e8f;*/
  /*for backgrounds in */
  /* restaurant-list */
  --light-gray: #f3f3f3;
  /* for map backgorund */
  --gray: #ccc;
  /*for header & footer background*/
  --dark-gray: #252831;
  /* for restuarant hours */
  --soft-gray: #666;
  /*for page title*/
  --orange-on-gray: #f18200;
  /*--orange-on-white: #bb5802;*/
}


/*** GENERAL ***/

img,
embed,
object,
video {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}


.App {
  max-width: 60rem;
  margin: auto;
  font: 400 1rem arial, sans-serif;

}

/*** HEADER ***/

.page-title {
  margin: 0;
  padding: 1.1rem 0 1.1rem 0;
  background-color: var(--dark-gray);
  font: 500 1.6rem arial, sans-serif;
  /*color: var(--light-gray);*/
  color: var(--light-blue);

  text-align:center;
  letter-spacing: 0.125rem;
}



.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--light-gray);
}


/*** MAP ***/

.map-container {
  width: 65%;
  background-color: var(--soft-gray);
  border: 0.0625rem solid var(--dark-gray);
}

#map {
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width:  400px;
}
