/*** LOCATION SELECTOR ***/

.location-selector {
  margin: 0;
  width: 35%;
  border: 0.0625rem solid var(--dark-gray);
}

.location-options {
  margin: 0;
  padding: 0.625rem 0.3125rem 0.625rem 0.3125rem;
  color: var(--white);
  font: 400 1.2rem arial, sans-serif;
  background-color: var(--blue);
}

#chosen-city {
  margin: 0 0 0 0.3125rem;
  font: 400 1.1rem arial, sans-serif;
  border: 0;
  color: var(--dark-blue);
  background-color: var(--light-blue);
  /*padding-left: 0.635rem;*/
}

#location-list {
  margin: 0;
  padding: 0;
}

.location {
  margin: 0.3125rem;
  padding: 0.3125rem;
  list-style: none;
  background-color: var(--light-blue);
}

.active-location {
  color: var(--white);
  background-color: var(--blue);
}